body {
    font-family: 'Poppins', sans-serif;
    background-image: url('bg.jpg');
    background-attachment: fixed;
}

.hero-section {
    background-image: url('hero.jpg'); 
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}

.hero-section h1, .hero-section p {
    position: relative; /* Asegura que el texto esté sobre el filtro */
    color: white;
    z-index: 1;
}

h2 {
    margin-top: 40px;
    margin-bottom: 20px;
}

p {
    font-size: large;
}

.card {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.card-content {
    flex-grow: 1;
    padding: 15px;
    text-align: center;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin: 20px;
    justify-items: center;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

.card:hover .card-image img {
    transform: scale(1.1); 
}

.cards-container, .skills-container {
    padding: 20px 5%; /* Añadir padding lateral para dar espacio en pantallas grandes */
}

button {
    transition: transform 0.2s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    transform: scale(1.1);
    background-color: #6f1c86;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Añadir sombra al hover para el botón */
}


.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 20px; 
    justify-items: center; 
    align-items: center; 
    margin-top: 20px;
    max-width: 100%;
    padding: 0 20px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos dentro de cada habilidad */
    text-align: center; /* Alinea el texto dentro de la habilidad */
}

.skill img {
    width: 120px; /* Tamaño de las imágenes */
    height: 120px;
    object-fit: cover; /* Hace que la imagen se ajuste correctamente */
}

.skill p {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 500;
}

footer {
    text-align: center; /* Centra el texto del pie de página */
    margin-top: 30px;
    font-size: 0.9rem;
}

footer a {
    text-decoration: none;
}

  



/* RESPONSIVE */

@media (max-width: 768px) {

    body, h1, h2, p {
        color: black !important;
    }

    .cards-container {
        grid-template-columns: 1fr; /* Muestra las tarjetas en columna en pantallas pequeñas */
    }

    .skills-container {
        grid-template-columns: 1fr 1fr;
        grid-template-columns: repeat(2, 1fr); /* Mejora el espaciado en pantallas medianas */
        gap: 15px;
    }

    .skill img {
        width: 100px; /* Hacer las imágenes más pequeñas en pantallas medianas */
        height: 100px;
    }
}


@media (max-width: 480px) {

    body, h1, h2, p {
        color: black !important;
    }

    .cards-container {
        grid-template-columns: 1fr; /* Muestra las tarjetas en columna en pantallas pequeñas */
    }

    .skills-container {
        grid-template-columns: 1fr; /* En pantallas muy pequeñas, se muestra una sola columna */
    }
}