body {
    font-family: 'Poppins', sans-serif;
    background-image: url('/images/bg.webp');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Hero Section */
.hero-section {
    background-image: url('/images/hero.webp');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}

.hero-section h1, .hero-section p {
    position: relative;
    color: white;
    z-index: 1;
}

/* Tarjetas */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin: 20px;
    justify-items: center;
    width: 100%;
}

.card {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    max-width: 350px;
}

.card-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.card-content {
    flex-grow: 1;
    padding: 15px;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.card:hover .card-image img {
    transform: scale(1.1);
}

/* Habilidades */
.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
    max-width: 100%;
    padding: 0 20px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skill img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.skill p {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 500;
}

/* Botones */
button {
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    transform: scale(1.1);
    background-color: #6f1c86;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9rem;
}

footer a {
    text-decoration: none;
}

/* Diseño de los Toast Messages*/
.toast {
    border-radius: 8px !important;
    padding: 12px !important;
    font-size: 14px !important;
    font-weight: bold !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important;
    text-align: center;
}

.toast.blue {
    background-color: #1976d2 !important;
    color: #fff !important;
}

.toast.green {
    background-color: #388e3c !important;
    color: #fff !important;
}

.toast.red {
    background-color: #d32f2f !important;
    color: #fff !important;
}


/* RESPONSIVE */
@media (max-width: 768px) {
    .hero-section {
        background-attachment: scroll;
    }

    .cards-container {
        grid-template-columns: 1fr;
    }

    .skills-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .skill img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 480px) {
    .cards-container, .skills-container {
        grid-template-columns: 1fr;
    }
}
